@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-size: inherit;
}
a {
    color: inherit;
    text-decoration: inherit;
}
img {
    vertical-align: middle;
}
a img {
    border: none;
}
li {
    list-style: none;
}
address,
em,
i {
    font-style: normal;
}
a:focus {
    outline: none;
}
button:focus {
    outline: none;
}

body {
    font-weight: 400;
    font-size: 26px;
    color: #fff;
}

.wrap {
    width: 100%;
    overflow: hidden;
}
.con01 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f1f1f;
    color: #ece0c7;
}
.con01 .textBox {
    text-align: center;
}
.con01 .textBox .logo {
    width: 150px;
    margin: 0 auto 25px;
}
.con01 .textBox .logo img {
    width: 100%;
}
.con01 .textBox .title {
    font-size: 68px;
    margin-bottom: 10px;
    font-weight: bolder;
    letter-spacing: -1px;
    color: #f45b40;
}
.con01 .textBox .txt {
    letter-spacing: -1px;
    font-size: 18px;
}

.con1,
.con2 {
    width: 100%;
    height: 100vh;
    background: #000;
    color: #fff;
}
.con1 .textBox,
.con3 .textBox {
    text-align: center;
}

.gallery {
    width: 100%;
    background: yellow;
    padding: 250px 0;
}
.gallery .inner {
    width: 100%;
    /* background: pink; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.gallery .inner .textbox {
    /* width: 45%; */
}
.gallery .inner .imgbox {
    /* width: 50%; */
    position: relative;
}
.gallery .inner .imgbox li {
    position: absolute;
    left: 0;
    top: 50%;
    width: 550px;
    height: 490px;
    transform: translateY(-50%);
    opacity: 1;
    background: #000;
}
.gallery .inner .imgbox li img {
    width: 100%;
}
.gallery .inner .imgbox li.img1 {
    transform: translateY(-50%) rotate(5deg);
    z-index: 1;
}
.gallery .inner .imgbox li.img2 {
    z-index: 2;
    transform: translateY(-50%) rotate(-5deg);
}
.gallery .inner .imgbox li.img3 {
    z-index: 3;
    transform: translateY(-50%) rotate(7deg);
}
.gallery .inner .imgbox li.img4 {
    transform: translateY(-50%) rotate(-7deg);
    z-index: 4;
}
.gallery .inner .imgbox li.img5 {
    transform: translateY(-50%) rotate(2deg);
    z-index: 5;
}
.gallery .inner .imgbox li.img6 {
    transform: translateY(-50%) rotate(-3deg);
    z-index: 6;
}
.gallery .inner .imgbox li.img7 {
    transform: translateY(-50%) rotate(0deg);
    z-index: 7;
}
